<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Universal App ( Server side rendering ) using NestJS and Angular 5+</h1>
  <a href="https://angular.io" target="blank"><img height="155px" src="./assets/angular.svg" /></a>
  <a href="http://nestjs.com/" target="blank"><img height="155px" src="./assets/nest-logo.png" alt="Nest Logo" /></a>
</div>

<router-outlet></router-outlet>

<ul>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="contact">Contact</a></li>
</ul>

<hr />

<h4>Web Sockets</h4>

<p>
  <button (click)="ping()">Ping server using websockets</button>
</p>

<div>
  Response from server:
</div>
<pre>
{{ pongMessage$ | async | json }}
</pre>
